<ion-view view-title="About Us">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Our History
            </div>
            <div class="item item-body item-text-wrap">
                <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong. Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
                <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
                <!-- <div class="well">
                    <blockquote>
                        <p>You better cut the pizza in four pieces because I'm not hungry enough to eat six.</p>
                        <footer>Yogi Berra,
                            <cite title="Source Title">The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books, 2014</cite>
                        </footer>
                    </blockquote>
                </div> -->
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Facts At A Glance
            </div>
            <div class="item">
                <dl>
                    <dt>Started</dt>
                    <dd>3 Feb. 2013</dd>
                    <dt>Major Stake Holder</dt>
                    <dd>HK Fine Foods Inc.</dd>
                    <dt>Last Year's Turnover</dt>
                    <dd>$1,250,375</dd>
                    <dt>Employees</dt>
                    <dd>40</dd>
                </dl>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Corporate Leadership
            </div>
            <div class="list-inset">
                <ion-item ng-repeat="leadership in leadership" class="item-thumbnail-left item-text-wrap item-avatar ">
                    <img ng-src="{{baseURL+leadership.image}}"" alt="{{leadership.designation}}">
                    <h2>{{leadership.name}}
        			<span class="badge">{{leadership.label}}</span></h2>
                    <!-- <span style="font-size:75%">{{leadership.designation}}</span> -->
                    <small><strong>{{leadership.designation}}</strong></small>
                    <p>
                        {{leadership.description}}
                    </p>
                </ion-item>
            </div>
        </div>
        <!-- <div class="card">
            <div class="item item-divider">
                Facts &amp; Figures
            </div>
            <ion-list>
                <div class="table-responsive">
                    <table class="">
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <th>
                                2013
                            </th>
                            <th>
                                2014
                            </th>
                            <th>
                                2015
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Employees
                            </th>
                            <td>
                                15
                            </td>
                            <td>
                                30
                            </td>
                            <td>
                                40
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Guests Served
                            </th>
                            <td>
                                15000
                            </td>
                            <td>
                                45000
                            </td>
                            <td>
                                100,000
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Special Events
                            </th>
                            <td>
                                3
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                45
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Annual Turnover
                            </th>
                            <td>
                                $251,325
                            </td>
                            <td>
                                $1,250,375
                            </td>
                            <td>
                                ~$3,000,000
                            </td>
                        </tr>
                    </table>
                </div>
        </div> -->
    </ion-content>
</ion-view>
